#ingame_HUD_DebuggerController {
    position: absolute;
    background: $ingameHudBg;
    @include S(padding, 5px);
    @include S(bottom, 10px);
    @include S(left, 10px);

    @include SuperSmallText;
    color: #eee;
    display: flex;
    flex-direction: column;

    > label {
        text-transform: uppercase;
    }


    button.nodiRestart {
        padding: 0;
        align-self: center;
        justify-self: center;
        @include IncreasedClickArea(0px);
        background: #44484a center center / 40% no-repeat;
        & {
            /* @load-async */
            background-image: uiResource("icons/replay.png");
        }
        @include S(width, 32px);
        @include S(height, 32px);
    }


    button.nodiRunStop {
        padding: 0;
        align-self: center;
        justify-self: center;
        @include IncreasedClickArea(0px);
        background: #44484a center center / 40% no-repeat;
        & {
            /* @load-async */
            background-image: uiResource("icons/play.png");
        }
        @include S(width, 32px);
        @include S(height, 32px);
    }

    button.nodiRun {
        & {
            /* @load-async */
            background-image: uiResource("icons/play.png");
        }
    }

    button.nodiStop {
        & {
            /* @load-async */
            background-image: uiResource("icons/pause.png");
        }
    }

    button.nodiPause {
        padding: 0;
        align-self: center;
        justify-self: center;
        @include IncreasedClickArea(0px);
        background: #44484a center center / 40% no-repeat;
        & {
            /* @load-async */
            background-image: uiResource("icons/pause.png");
        }
        @include S(width, 32px);
        @include S(height, 32px);
    }

}
